@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
  padding-top: 90px;
  font-family: 'Didact Gothic', sans-serif !important;
  font-size: 15px;
}

h1, h2, h3, h4, p, a, span, label {
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.08em;
}

/*############################## NAV BAR ##############################*/
#sharedNavBrand {
  height: 100%;
}

#sharedNavBrandAnchor {
  margin: 0;
  padding: 0;
}

#sharedNavContainer {
  padding: 1em;
  border-bottom: 1px solid #979797;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-nav > li > a {
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.08em;
  color: rgba(119, 119, 119, 0.55);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
  /*background-color: rgb(219, 219, 219) !important;*/
  border-radius: 5px;
  font-weight: bold;
  color: #000;
}

.navbar-default .navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*############################## HOME & LANDING PAGE ##############################*/
.home-img {
  position: relative;
  z-index: 0;
  margin: 0;
  max-width: 100%;
}

#home-img1 {
  background: url(../img/cover2.jpg) no-repeat fixed center;
  height: 50em;
}

#home-img2 {
  background: url(../img/cover1.png) no-repeat center;
  height: 30em;
}

#home-imgSaferSex {
  background-image: url(../img/safe-sex.jpg);
  background-size: cover;
  height: 50em;
}

#home-imgConsent {
  background-image: url(../img/consent.jpg);
  height: 50em;
  background-size: cover;
}

#home-imgSexuality {
  background-image: url(../img/sexuality.jpg);
  height: 50em;
  background-size: cover;
}

#home-imgOption {
  background-image: url(../img/option.jpg);
  height: 50em;
  background-size: cover;
}

.home-paragraphContainer {
  position: relative;
  background: white;
  z-index: 5;
}

.home-paragraph {
  text-align: center;
  padding: 1em 10em 5em 10em;
  font-family: 'Didact Gothic', sans-serif;
}

.home-header {
  text-align: center;
  padding: auto;
  padding-top: 2em;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
}

.home-title {
  font-size: 5em;
  color: floralwhite;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.home-title:hover {
  color: #333;
  text-decoration: none;
}

#home-titleMain {
  position: relative;
  display: block;
  text-align: center;
  top: 25%;
  color: #333;
  font-size: 5em;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.home-titleLinkContainer {
  position: relative;
  top: 30%;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

/*############################## SAFER SEX ##############################*/
#safer-sex-intro {
  background-image: url(../img/safe-sex-blurred.jpg);
  height: 25em;
  background-size: cover;
}

#safer-sex-intro h1 {
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
}

#safer-sex-intro p {
  font-size: 20px;
  text-align: center;
  color: #666;
}
/*Grid square*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px !important;
  text-align: center !important;
}

#chart-protection {
  position: absolute;
  left: -125px !important;
  top: 70px !important;
  width: 100%;
  height: 100%;
}

/*cards*/
#safe-sex-wrapper {
  width: 1405px;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  height: 0px;
  padding-left: 0px;
  padding-right: 60px;
  margin-left: -130px;
}

#safe-sex-wrapper ul#index_cards {
  margin-top: 50px;
  text-align: center;
}

#safe-sex-wrapper ul#index_cards li {
  background-color: #efefef;
  height: 600px;
  width: 182px;
  display: block;
  float: left;
  border: 1px solid #666;
  padding: 25px 10px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 6px 6px 15px #000;
  -webkit-box-shadow: 6px 6px 15px #000;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

#safe-sex-wrapper #card-1 {
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  z-index: 1;
  left: 110px;
  top: 50px;
}

#safe-sex-wrapper #card-2 {
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  z-index: 2;
  left: 70px;
  top: 30px;
}


#safe-sex-wrapper #card-3 {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  z-index: 3;
  left: 30px;
  top: 10px;
}

#safe-sex-wrapper #card-4 {
  background-color: #69732B;
  z-index: 4;
}

#safe-sex-wrapper #card-5 {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  z-index: 3;
  right: 30px;
  top: 10px;
}

#safe-sex-wrapper #card-6 {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  z-index: 2;
  right: 70px;
  top: 30px;
}

#safe-sex-wrapper #card-7 {
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  z-index: 1;
  right: 110px;
  top: 50px;
}

/* Hover States */

#safe-sex-wrapper ul#index_cards li:hover {
  z-index: 5;
}

#safe-sex-wrapper ul#index_cards li a {
  color: #777;
  text-decoration: none;
}

#safe-sex-wrapper ul#index_cards li a:hover, a:active {
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}


/*############################## CONSENT ##############################*/
#consent-intro {
  background-image: url(../img/consent-blurred.jpg);
  height: 25em;
  background-size: cover;
}

#consent-intro h1 {
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
}

#consent-intro p {
  font-size: 20px;
  text-align: center;
  color: #666;
}

/*############################## SEXUALITY ##############################*/
#sexuality-intro {
  background-image: url(../img/sexuality-blurred.jpg);
  height: 25em;
  background-size: cover;
}

#sexuality-intro h1 {
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
}

#sexuality-intro p {
  font-size: 20px;
  text-align: center;
  color: #666;
  padding: 0 10px 0 10px;
}

/*############################## OPTION ##############################*/
#option-intro {
  background-image: url(../img/option-blurred.jpg);
  height: 25em;
  background-size: cover;
}

#option-intro h1 {
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
}

#option-intro p {
  font-size: 20px;
  text-align: center;
  color: #666;
}

#wrapper {
  width: 930px;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  height: 0px;
}
/* Index Card Styling */
ul#index_cards {
  margin-top: 50px;
  text-align: center;
  margin-left: 30px;
}

ul#index_cards li {
  background-color: #efefef;
  height: auto;
  width: 270px;
  display: block;
  float: left;
  border: 1px solid #666;
  padding: 25px 10px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 1px 1px 1px #666;
  -webkit-box-shadow: 1px 1px 1px #666;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

#card-1 {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  z-index: 1;
  left: 50px;
  top: 20px;
}

#card-2 {
  z-index: 2;
}

#card-3 {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  z-index: 1;
  right: 50px;
  top: 20px;
}

/* Hover States */
ul#index_cards li:hover {
  z-index: 3;
}

#card-1:hover {
  -moz-transform: scale(1.1) rotate(-13deg);
  -webkit-transform: scale(1.1) rotate(-13deg);
}

#card-2:hover {
  -moz-transform: scale(1.1) rotate(2deg);
  -webkit-transform: scale(1.1) rotate(2deg);
}

#card-3:hover {
  -moz-transform: scale(1.1) rotate(17deg);
  -webkit-transform: scale(1.1) rotate(17deg);
}
/* Content Styling */
ul#index_cards li img {
  margin-top: 7px;
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #aaa;
  -webkit-box-shadow: 0px 0px 5px #aaa;
}

ul#index_cards li p {
  margin-top: 4px;
  text-align: left;
  line-height: 28px;
}

ul#index_cards li a {
  color: #777;
  text-decoration: none;
}

ul#index_cards li a:hover {
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.overlay-content {
  background-color: #efefef;
  padding: 1%;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 35%;
  margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
  cursor: default;
  z-index: 10001;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
  font-size: 15px;
  font-family: 'Didact Gothic', sans-serif;
  /*float: left;*/
  text-align: center;
}

/*############################## TALK ABOUT IT ##############################*/
#talk-intro {
  background-image: url(../img/cover2-blurred.jpg);
  height: 25em;
  background-size: cover;
}

#talk-intro h1 {
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
}

#talk-intro p {
  font-size: 20px;
  text-align: center;
  color: #666;
}

#talk-intro #author {
  font-size: 14px;
  text-align: center;
  color: #666;
  font-family: cursive;
}

.input-box {
  margin-top: 30px;
  text-align: center; 
}

.input-box textarea {
  resize: none;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  outline: none;
}

.submit {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 30px;
}

.story-area li:nth-child(odd) {
  background-color: #f4f4f4;
}

.story-area li {
  padding: 10px;
  border-radius: 5px;
  list-style-type: none;
}

#date {
  font-weight: bold;
}

/*############################## FOOTER ##############################*/
.footer-wrapper {
  max-width: 480px;
  margin: 0 auto;
  padding: 40px 4%;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

.footer-wrapper span {
  font-size: 16px;
}