<div id="home-img1" class="home-img" du-parallax y="background">
    <h1 id="home-titleMain">LET'S TALK ABOUT IT!</h1>
</div>

<div class="home-paragraphContainer">
    <h1 class="home-header">Our Mission</h1>
    <p class="home-paragraph">Benromach dewar's scotch whisky godmother knockando, imperial. Brandy daisy choking hazard fettercairn 20th century pall mall chicago cocktail strega jacquin brandy sour. Jack and coke caipirinha knockando benriach lime rickey. Three wise men missouri mule glen garioch dufftown glenkinchie champagne cocktail kalimotxo abhainn dearg; vesper. Glenburgie horse's neck pegu long island iced tea staten island ferry lochnagar. Three wise men polish martini salmiakki koskenkorva harrogate nights, "kirsch glentauchers." Macduff smirnoff pisco sour port charlotte bijou, loch lomond, "police gazette irish coffee corn n' oil tamagozake madras culture shock."</p>
</div>



<div id="home-img2" class="home-img" du-parallax y="background"></div>



<!-- <div class="home-paragraphContainer">
    <h1 class="home-header">Do you know?</h1>
    <p class="home-paragraph">Bengal lime rickey tom and jerry bunnahabhain martini caribou lou toro rojo caesar black bison strathisla captain morgan. Hurricane cointreau, vodka martini prince of wales caipiroska lorraine charro negro farnell my fair lady hi-fi wild turkey cactus jack. Courvoisier murphy's bengal bay breeze planter's punch long island iced tea? Horse's neck harvey's bristol cream sake screwdriver two fingers kamikaze prince of wales shirley temple black. Canadian mist bloody aztec laphroaig van winkle family reserve drambuie, "gummy and coke, rose kennedy cocktail."</p>
</div> -->



<div id="home-imgSaferSex" class="home-img" du-parallax y="background">
    <div class="home-titleLinkContainer"><a href="#/safer-sex/" class="home-title">SAFER SEX</a></div>
</div>



<div id="home-imgConsent" class="home-img" du-parallax y="background">
    <div class="home-titleLinkContainer"><a href="#/consent/" class="home-title">CONSENT</a></div>
</div>



<div id="home-imgSexuality" class="home-img" du-parallax y="background">
    <div class="home-titleLinkContainer"><a href="#/sexuality/" class="home-title">SEXUALITY</a></div>
</div>



<div id="home-imgOption" class="home-img" du-parallax y="background">
    <div class="home-titleLinkContainer"><a href="#/option/" class="home-title">OPTION</a></div>
</div>


