<div class="container">
  <!-- Heading -->
  <h1>Safer Sex</h1>
  <!-- Introduce the topic -->
  <p>
    In this category, we focus on how to have safer sex and gain people’s awareness about STD or even birth control, two important factors that people should be aware of.
  </p>
  <!-- Table -->
  <table>
    <caption>STD Symptoms for Girls</caption>
    <tr>
      <th>Chlamydia</th>
      <td>Most women do not experience any symptoms. some experience vaginal discharge, abdominal pain. It can cause severe pelvic infection, which can lead to infertility and tubal pregnancy.</td>
    </tr>
    <tr>
      <th>Gonorrhea</th>
      <td>Burning or frequent urination, a yellowish vaginal discharge, redness and swelling of the genitals, and a burning or itching of the vaginal area.</td>
    </tr>
    <tr>
      <th>HPV</th>
      <td>Appearance of a genital lesion. Genital warts usually appear as small, fleshy, raised bumps on sexually-exposed area and are sometimes associated with itching, burning, or tenderness in the area.</td>
    </tr>
    <tr>
      <th>Genital herpes</th>
      <td>Initial itching or tingling sensation followed by redness of the skin. Then a blister forms, followed by ulcers when the blisters break.</td>
    </tr>
  </table>
  <!-- Graphs -->
    <div class="row">
      <div class="col-md-9">
        <div google-chart chart="chartHiv" style="{{chartHiv.cssStyle}}"></div>
      </div>
      <div class="col-md-3">
        <div google-chart chart="chartProtection"></div>
      </div>
    </div><!-- end of row -->

  <!-- SCENARIO -->
  <h2>Scenarios</h2>
  <!-- 1st row verticaly centered text in the square columns -->
  <div class="square">
    <div class="content">
      SCENARIO HERE
    </div>
  </div>
  <div class="square">
    <div class="content numbers">
      98% OF BLABLABLA SCENARIO
    </div>
  </div>
  <div class="square">
    <div class="content numbers">
      3.9/5
    </div>
  </div>
  <!-- 2nd row verticaly centered images in square columns -->
  <div class="square">
    <div class="content">
      <img class="rs" src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg" /> Responsive image.
    </div>
  </div>
  <div class="square">
    <div class="content">
      <img class="rs" src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" /> Responsive image.
    </div>
  </div>
  <div class="square">
    <div class="content">
      <img class="rs" src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" /> Responsive image.
    </div>
  </div>
  <!-- 3rd row responsive images in background with centered content -->
  <div class="square bg img1">
    <div class="content">
      Another scenario here too many scenarios.
    </div>
  </div>
  <div class="square bg img2">
    <div class="content">
      Again
    </div>
  </div>
  <div class="square bg img3">
    <div class="content">
      And again
    </div>
  </div>
</div><!-- end of container -->